[Desktop Entry]
Name=Configure Lxdm
Name[de]=Konfiguriere Lxdm
Name[fr]=Configurer Lxdm
Name[en_GB]=Configure Lxdm
Comment=Configure the Display Manager
Comment[fr]=Configurer le gestionnaire de connexion
Comment[en_GB]=Configure the Display Manager
Icon=preferences-system
Exec=lxdm-config-pkexec
Terminal=false
Type=Application
Categories=GTK;System;
StartupNotify=true
