# no pkg or src.pkg
*.pkg.tar*
*.src.tar.gz

# no build stuff
src/
pkg/
*/*.bz2
*/*.deb
*/*.exe
*/*.gz
*/*.rpm
*/*.tgz
*/*.xz
*/*.zip
*/pkg/
*/src/
*/*.swf
pony-creator/pony_creator_full_version_by_generalzoi-d47efz4.png

# no backups
*~
*.bak
*.swp

# no sources, hoping this won't be to vague
*.tar*
*.zip

# where did that come from?
.directory

# only in case
*._*
.DS_Store

# verioning number standalone
util-say/3.*
*minuette.png
*ata*ony.png
ponysay-devel-git/ponysay
ponysay-git/ponysay
util-say-git/util-say
*/*.rpm
*/xfce-theme-greenbird
*/oh-my-zsh
lxdm-manjaro-theme/lxdm-manjaro-theme
elementary-xfce-icons-git/*fce-theme-greybird-git
xfce-theme-greybird-git/Greybird
elementary-xfce-icons-git/elementary-xfce/
squeeze-git/squeeze
pacman-git/pacman
egtk-bzr/egtk
shimmer-wallpapers/Wallpapers
plank-bzr/plank
lxdm-arch-theme/lxdm-arch-theme
bamf-bzr/bamf
thunar-nilfs2-plugin-git/thunar-nilfs2-plugin
xfce4-whiskermenu-plugin-git/xfce4-whiskermenu-plugin
powerdown-git/powerdown
xfce-theme-*/xfce-theme-*
xfce-theme-albatross-git/Albatross
owl-git/owl
android-udev/android-udev
midori-bzr/midori
