# no pkg or src.pkg
*.pkg.tar*
*.src.tar.gz

# no build stuff
src/
pkg/
*/*.bz2
*/*.deb
*/*.exe
*/*.gz
*/*.rpm
*/*.tgz
*/*.xz
*/*.zip
*/pkg/
*/src/
*/*.swf
*/*.bin
pony-creator/pony_creator_full_version_by_generalzoi-d47efz4.png
*/*.tbz2
*/*.run

# no partially downloads
*/*.part

# no backups
*~
*.bak
*.swp

# no sources, hoping this won't be to vague
*.tar*
*.zip

# where did that come from?
.directory

# only in case
*._*
.DS_Store

# icc profiles
*.icc

# Virtualbox
*.vbox-extpack

# Plugins for browser
*.oex
*.xpi
*.crx

# verioning number standalone and images....
# I hope this isn't a bad use of this function
util-say/3.*
*minuette.png
*ata*ony.png
ponysay-devel-git/ponysay
ponysay-git/ponysay
util-say-git/util-say
*/*.rpm
*/xfce-theme-greenbird
*/oh-my-zsh
lxdm-manjaro-theme/lxdm-manjaro-theme
elementary-xfce-icons-git/*fce-theme-greybird-git
xfce-theme-greybird-git/Greybird
elementary-xfce-icons-git/elementary-xfce/
squeeze-git/squeeze
pacman-git/pacman
egtk-bzr/egtk
shimmer-wallpapers/Wallpapers
plank-bzr/plank
lxdm-arch-theme/lxdm-arch-theme
bamf-bzr/bamf
thunar-nilfs2-plugin-git/thunar-nilfs2-plugin
xfce4-whiskermenu-plugin-git/xfce4-whiskermenu-plugin
powerdown-git/powerdown
xfce-theme-*/xfce-theme-*
xfce-theme-albatross-git/Albatross
owl-git/owl
android-udev/android-udev
midori-bzr/midori
exfat-git/exfat*
systemd-user-session-units-git/systemd-user-session-*
systemd-xorg-launch-helper-git/systemd-xorg-launch-*
systemd-user-session-units-git/user-session-unit*
systemd-xorg-launch-helper-git/xorg-launch-helpe*
grub-*/grub*
ejre/ejre
micropolis-git/micropolis
x265-hg/x265
box-theme/Bo*.png
snes9x-git/snes9x
fontconfig-infinality-ultimate-git/
packer/packer*
srgb-icc/ICC_White_Paper_26_Using_the_V4_sRGB_ICC_profile.pdf
fish-shell-git/fish-shell
flashplayer-standalone/*.pdf
zsh-z-git/z
snes9x-git/Snes9x
higan-git/higan
pa-applet-git/pa-applet
z-git/z
plymouth/plymouth
minecraft/Minecraft.jar
razor-qt-git/razor-qt
obconf-qt-git/obconf-qt
lximage-qt/lximage-qt
libfm-qt/pcmanfm-qt
ultrastardx-svn/ultrastardx
freeciv-svn/freeciv
gtk-theme-orion-git/Orion
zsh-syntax-highlighting-git/zsh-syntax-highlighting
xfce-theme-orion-git/Orion
zsh-git/zsh-git
fishfish-git/fishfish
gmusicbrowser-git/gmusicbrowser-git
xfce-theme-greenbird-git/greenbird-theme
grml-zsh-config-git/grml-etc-core
qlivestreamer-git/qLiveStreamer
epsxe-launcher-bash/attachment*
yaourt-git/yaourt
package-query-git/package-query
smc-git/SMC
