# no pkg or src.pkg
*.pkg.tar*
*.src.tar.gz

# no build stuff
src/
pkg/
*/*.bz2
*/*.deb
*/*.exe
*/*.gz
*/*.rpm
*/*.tgz
*/*.xz
*/*.zip
*/pkg/
*/src/
*/*.swf
pony-creator/pony_creator_full_version_by_generalzoi-d47efz4.png

# no backups
*~
*.bak
*.swp

# no sources, hoping this won't be to vague
*.tar*
*.zip

# where did that come from?
.directory

# only in case
*._*
.DS_Store

# verioning number standalone
util-say/3.*
*minuette.png
