<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Back in time a simple backup tool for Linux.</vendor>
  <vendor_url>http://backintime.le-web.org/</vendor_url>
  <action id="org.backintime.le-web.pkexec.backintime">
    <description>MDM login window appearance and behavior</description>
    <message>Privileges are required to change Back In Time Settings</message>
    <icon_name>backintime</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/mdmsetup</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>

